html {
    height: 100%;
}

body {
    background-color: #d6f5d6;
    margin: 0;
    height: 100%;
    font-family: tahoma;
    }

  article {
    color: black;
    padding: 20px;
  }

  #header1 {
    padding-top: 100px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background: black;
    color: white;
    text-shadow: 0px 0px 0px white;
    text-align: center;
  }

  #navbar {
    overflow: hidden;
    background-color: black;
    position:fixed;
    top: 0;
    width: 100%;
    border-style:inset;
    border-color:hsla(0,50%, 100%, 0.5);
    border-width: 5px;
  }

  #navbar a {
    float: left;
    display: inline-block;
    text-align: center;
    border-style: double;
    border-color: white;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }

  section {
    width: 95%;
    margin: 0 auto;
    padding: 50px;
    min-height: 800px;
  }

  section img {
    float:right;
    border-radius: 5px;
    margin: 10px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 10px;
    max-width: 500px;
  }
  
  footer {
    clear: left;
    padding: 10px;
    background: ; 
    text-align: ;
  }

  a:link, a:visited {
    background-color: black;
    color: white;
    border: 0px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    color: black;
    background-color: #d6f5d6;
    }
  